@import "../SassyBreakpoint";

aside {
  content: "root";
  @include sf-breakpoint("small-only"){
      width: 100%;
      content: "small-only";
  }
  @include sf-breakpoint("medium-only"){
      width: 100%;
      content: "medium-only";
  }
  @include sf-breakpoint("large-only"){
      width: 30%;
      content: "large-only";
  }
}

