
// v0.0.1

@mixin sf-breakpoint($breakpoint){
  $value: map-get($sf-breakpoints, $breakpoint);

  @if($value != null){
    // Set Current Breakpoint
    $sf-current-breakpoint: $breakpoint !global;

    @media #{$value}{
      @content;
    }

    // Reset Breakpoint
    $sf-current-breakpoint: $sf-default-breakpoint !global;
  } @else {
    @error "`#{$breakpoint}` breakpoint is Invalid or it doesn't exists.";
  }
}